@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
@keyframes load{
    to{transform: rotate(-360deg);}
}
.pre{
    width: 80px;
    height: 80px;
    background-image: url('/home/assets/imagem\ de\ load.png');
    background-position: center;
    background-size: cover;
    animation: load 2s infinite linear;
}
.caixa-load{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;  
    justify-content: center;
    align-items: center;
}
.content{
    width: 100vw;
    height: 100vh;
    display: none;
}
body{   
    overflow-x: hidden;
}
.fa-regular{
    color: rgb(0, 0, 0);
    font-size: 35px;
    position: fixed;
    bottom: 40px;
    right: 40px;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}
.visivel{
    opacity: 1;
}
.center{
    padding: 0 2%;
    width: 100vw;
    height: 80px;
    display: flex;
    font-family: 'Roboto Slab', serif;
    box-shadow: 1px 1px 5px black;
}
.logo{
    cursor: pointer;
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
}
.menu{
    width: 70%;
    height: 100%;
}
.lista-menu{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: right;
}
.lista-menu li{
    display: flex;
    align-items: center;
    margin: 0 3%;
}
.lista-menu a{
    cursor: pointer;
    color: rgb(0, 0, 0);
}
.lista-menu a::first-letter{
    font-size: 12px;
    color: rgb(65, 65, 65);
}
.lista-menu a:hover{
    color: blue;
}
.lista1, .lista2, .lista3, .lista4, .lista5{
    display: none;
}
.lista1.donw, .lista2.donw, .lista3.donw, .lista4.donw, .lista5.donw{
    background-color: rgba(0, 0, 0, 0.589);
    width: 100vw;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 80px;
    right: 0px;
    z-index: 1;
}
.lista1.donw li, .lista2.donw li, .lista3.donw li, .lista4.donw li, .lista5.donw li{
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    width: 20%;
    margin: 1%;
    border-radius: 10px;
    height: 90%;
    transition: 0.5s;
}
.lista1.donw li:hover, .lista2.donw li:hover, .lista3.donw li:hover, .lista4.donw li:hover, .lista5.donw li:hover{
    transform: scale(1.08);
    transition: 0.5s;
}   
.lista1.donw img, .lista2.donw img, .lista3.donw img, .lista4.donw img, .lista5.donw img{
    object-fit: cover;
    border-radius: 10px;
    width: 100%;
    height: 100%;
}
.lista1.donw li figcaption, .lista2.donw li figcaption, .lista3.donw li figcaption, .lista4.donw li figcaption, .lista5.donw li figcaption{
    position: relative;
    background-color: rgba(0, 0, 0, 0.699);
    width: 100%;
    height: 50px;
    padding-left: 10px;
    border-radius: 0px 0px 10px 10px;
    margin-top: -53px;
}
.lista1.donw a, .lista2.donw a, .lista3.donw a, .lista4.donw a, .lista5.donw a{
    color: rgb(255, 255, 255);
}
.nav-menu{
    width: 0%;
    height: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
}
.nav{
    display: none;
    width: 28px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.bars{
    display: none;
}
.container{
    width: 100vw;
    height: 100%;
    padding: 0px 15%;
    margin: 50px 0;
}
.container{
    width: 100vw;
    height: 100%;
    padding: 10px 10%;
    margin-bottom: 50px;
}
.conteudo h1{
    font-size: 40px;
    text-align: center;
    margin-bottom: 20px;
}
.conteudo img{
    width: 100%;
}
.conteudo h2{
    font-size: 30px;
    margin: 25px 0px;
}
.conteudo p{
    padding: 0 5%;
    text-align: justify;
    margin-bottom: 30px;
}
.rodape{
    box-shadow: -3px 1px 5px black;
    background-color: white;
    width: 100vw;
    height: 80px;
    padding: 0 2%;
    display: flex;
}
.social-icons{
    width: 50%;
    height: 100%;
}
.social-icons ul{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}
.social-icons ul li{
    width: 6%;
}
.social-icons i{
    color: black;
    font-size: 20px;
}
.social{
    width: 50%;
    height: 100%;
}
.social ul{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
}
.social ul li{
    width: 15%;
}
.social a{
    color: black;
}
::-webkit-scrollbar{
    display: none;
}
@media (min-width: 250px) and (max-width: 900px){
    .fa-regular{
        display: none;
    }
    .center{
        background-color: white;
        box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.521);
        position: fixed;
        top: 0;
        z-index: 1;
    }
    .logo{
        width: 70%;
    }
    .logo img{
        width: 100%;
    }
    .nav-menu{
        width: 30%;
        display: flex;
        justify-content: right;
        padding-right: 20px;
    }
    .bars{
        background-color: black;
        width: 25px;
        height: 3px;
        display: block;
        margin-bottom: 5px;
    }
    .navegação.ativo .bars:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .navegação.ativo .bars:nth-child(2){
        opacity: 0;
    }
    .navegação.ativo .bars:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    .lista-menu a::first-letter{
        color: white;
    }
    .navegação.ativo{
        width: 30px;
        height: 30px;
        z-index: 1;
        position: fixed;
    }
    .menu{
        position: fixed;
        right: -100%;
        top: 0px;
        width: 100%;
        height: 100vh;
        background-color: white;
        transition: 0.3s;
        z-index: 1;
    }
    .lista-menu{
        width: 99.9%;
        height: 90vh;
        flex-direction: column;
    }
    .lista-menu li{
        justify-content: center;
        display: flex;
        width: 100%;
        height: 22vh;
        margin: 0;
    }
    .lista-menu li:hover{
        background-color: rgba(0, 0, 0, 0.144);
    }
    .menu.ativo{
        right: 0px;
    }
    .lista1.donw, .lista2.donw, .lista3.donw, .lista4.donw{
        display: none;
    }
    .container{
        padding: 0 2%;
        width: 100%;
        height: 100%;
        padding-top: 20px;
        grid-gap: 10px;
    }
    .conteudo{
        margin-top: 10px;
        height: 200%;
        grid-gap: 10px;
        padding-top: 30px;
    }
    .conteudo h1{
        font-size: 30px;
        text-align: center;
        margin-bottom: 20px;
    }
    .conteudo img{
        width: 100%;
    }
    .conteudo h2{
        font-size: 20px;
        margin: 25px 0px;
    }
    .conteudo p{
        padding: 0 5%;
        text-align: justify;
        margin-bottom: 30px;
    }
    .social-icons{
        width: 100%;
    }
    .social-icons ul{
        display: flex;
        justify-content: center;
    }
    .social-icons ul li{
        display: flex;
        justify-content: center;
        width: 25%;
    }
    .social{
        display: none;
    }
}